<!--<h4 class="mat-headline-6 m-y-24">Form with Tabs</h4>-->
<form (ngSubmit)="onSubmit()" *ngIf="updateTrainingForm && clients" [formGroup]="updateTrainingForm">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content>
      <div class="p-16 bg-light-primary rounded">
        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
          <i-tabler class="icon-20 m-r-8 d-flex" name="info-circle"></i-tabler
          >
          Informations Générales
        </h5>
      </div>
      <div class="row m-t-20">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Client
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="idClient">
                  <mat-option disabled value="">Choisir un Client</mat-option>
                  <mat-option *ngFor="let client of clients" [value]="client.idClient">{{ client.corporateName }}
                  </mat-option>
                  <mat-option (click)="handleAdd('client')" class="mat-subtitle-2 f-s-16 f-w-600" value="">Ajouter un
                    nouveau Client
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="updateTrainingForm.get('idClient')?.invalid && updateTrainingForm.get('idClient')?.touched">
                  *Ce champ est obligatoire
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Thème
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="theme" matInput placeholder=""/>
                <mat-error *ngIf="updateTrainingForm.get('theme')?.invalid && updateTrainingForm.get('theme')?.touched">
                  *Ce champ est obligatoire
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Éffectif Total
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="staff" matInput placeholder="" type="number"/>
                <!--                <mat-error *ngIf="addTrainingForm.get('staff')?.invalid && addTrainingForm.get('staff')?.touched">-->
                <!--                  *Ce champ est obligatoire-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Nombre de jours
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="days" matInput placeholder="" type="number"/>
                <!--                <mat-error *ngIf="addTrainingForm.get('days')?.invalid && addTrainingForm.get('days')?.touched">-->
                <!--                  *Ce champ est obligatoire-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Tarif Journalier
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="dailyAmount" matInput min="0" placeholder="" type="number"/>
                <mat-error *ngIf="updateTrainingForm.get('dailyAmount')?.hasError('required') && updateTrainingForm.get('dailyAmount')?.touched">
                  *Ce champ est obligatoire
                </mat-error>
                <mat-error *ngIf="updateTrainingForm.get('dailyAmount')?.hasError('negativeNumber')">
                  *Veuillez saisir un nombre positif
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Montant Total
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input readonly value="{{ updateTrainingForm.get('dailyAmount')?.value * updateTrainingForm.get('days')?.value }}" matInput min="0" placeholder="" type="number"/>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="p-16 bg-light-primary rounded">
            <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
              <i-tabler class="icon-20 m-r-8 d-flex" name="info-circle"></i-tabler
              >
              Groupes
            </h5>
          </div>
          <div class="row" formArrayName="groups">
            <div *ngFor="let group of trainingGroups; let i = index" [formGroupName]="i" class="col-md-4 mb-2">
              <span>Groupe {{ i + 1 }}</span>
              <div>
                <mat-form-field>
                  <mat-label>Effectif</mat-label>
                  <input formControlName="groupStaff" matInput type="number">
                </mat-form-field>
              </div>
              <mat-slide-toggle #toggle [checked]="!group.get('startDate')?.value">
                {{ toggle.checked ? 'Date' : 'Date Range' }}
              </mat-slide-toggle>
              <div class="col-md-12">
                <!--                            Range Dates-->
                <div *ngIf="!toggle.checked; else simpleDate">
                  <!-- Affichez le champ de date range lorsque le slide toggle est activé -->
                  <mat-form-field>
                    <input [matDatepicker]="picker0"
                           [min]="minStartDate" formControlName="startDate"
                           matInput
                           placeholder="Date de Début"
                    >
                    <mat-datepicker-toggle [for]="picker0" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker0></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input [matDatepicker]="picker1"
                           [min]="minEndDate" formControlName="endDate"
                           matInput
                           placeholder="Date de Fin"
                    >
                    <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div formArrayName="groupDates">
                <ng-template #simpleDate>
                  <div *ngFor="let date of dates(group); let j = index" class="row align-items-center">
                    <div class="col-md-12">
                      <!--                            Simple Dates-->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Date {{ j + 1 }}</mat-label>
                      <mat-form-field>
                        <input [formControlName]="j" [matDatepicker]="picker2" matInput placeholder="Choisir une date">
                        <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      <button (click)="removeDate(i, j)" color="warn" mat-icon-button matTooltip="Supprimer"
                              type="button">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button (click)="addDate(i)" color="primary" mat-raised-button type="button">Ajouter Date</button>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Formateur</mat-label>
                  <mat-select formControlName="idVendor">
                    <mat-option disabled value="">Choisir un Fournisseur</mat-option>
                    <mat-option *ngFor="let vendor of vendors" [value]="vendor.idVendor">{{ vendor.name }}</mat-option>
                    <mat-option (click)="handleAdd('vendor')" class="mat-subtitle-2 f-s-16 f-w-600" value="">Ajouter un
                      nouveau Formateur
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Lieu</mat-label>
                  <input formControlName="location" matInput>
                </mat-form-field>
              </div>
              <button (click)="removeGroup(i)" color="warn" mat-raised-button type="button">Supprimer Groupe</button>
            </div>
          </div>
          <button (click)="addGroup()" class="m-3" color="primary" mat-raised-button type="button">Ajouter groupe
          </button>
        </div>

      </div>
      <div class="m-t-12 text-right">
        <button [disabled]="updateTrainingForm.invalid" color="primary" mat-flat-button type="submit">Enregistrer
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
