<div *ngIf="training && training.lifeCycle && training.client">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Thème
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="" readonly value="{{ training.theme }}"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Client
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="" readonly value="{{ training.client.corporateName }}"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Nombre de jours
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="" readonly value="{{ training.days }}"/>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Éffectif
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="" readonly value="{{ training.staff }}"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Montant
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="" readonly value="{{ training.amount }}"/>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            @if (training.pv) {
              <div class="col-lg-12">
                <div class="col">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >PV
                    </mat-label>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                <textarea
                  readonly
                  rows="5"
                  matInput
                  placeholder=""
                  value="{{ training.pv }}"
                ></textarea>
                      <mat-icon matPrefix class="op-5">
                        <i-tabler name="message-2" class="icon-20 d-flex"></i-tabler>
                      </mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
      <br>
      <br>
      <!--     ******************************* Start ***********************-->
      <table [dataSource]="datasource" class="w-100" mat-table>

        <ng-container matColumnDef="group">
          <th *matHeaderCellDef class="f-s-16 f-w-600" mat-header-cell>Groupe Module</th>
          <td *matCellDef="let element; let i = index" mat-cell style="word-wrap: break-word;">
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vendor">
          <th *matHeaderCellDef class="f-s-16 f-w-600" mat-header-cell>
            Formateur
          </th>
          <td *matCellDef="let element" class="f-s-14" mat-cell>{{ element.supplier.name }}</td>
        </ng-container>

        <ng-container matColumnDef="staff">
          <th *matHeaderCellDef class="f-s-16 f-w-600" mat-header-cell>
            Éffectif
          </th>
          <td *matCellDef="let element" class="f-s-14" mat-cell>{{ element.groupStaff }}</td>
        </ng-container>

        <ng-container matColumnDef="dates">
          <th *matHeaderCellDef class="f-s-16 f-w-600" mat-header-cell>
            Dates
          </th>
          <td *matCellDef="let element" class="f-s-14" mat-cell>
            @if (element.startDate != "" && element.startDate != null) {
              du <b>{{ element.startDate | date : 'd' }}</b> au <b>{{ element.endDate | date : 'longDate' }}</b>
            } @else {
              {{ dateService.formatNonConsecutiveDates(element.groupDates) }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th *matHeaderCellDef class="f-s-16 f-w-600" mat-header-cell>
            Lieu
          </th>
          <td *matCellDef="let element" class="f-s-14" mat-cell>
            {{ element.location }}
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row (click)="onRowClick(row)" class="clickable-row"></tr>

      </table>
      <!--     ******************************* End ***********************-->
      <div class="row">
        <div class="col-lg-3">
          <div *ngIf="training.trainingSupport" class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Support de formation
              </mat-label>
            </div>
            <div class="col-sm-12">
              <a [href]="getTrainingSupportUrl()" target="_blank">Voir le fichier</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div *ngIf="training.presenceList" class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Liste de Présence
              </mat-label>
            </div>
            <div class="col-sm-12">
              <a [href]="getPresenceListUrl()" target="_blank">Voir le fichier</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div *ngIf="training.evaluation" class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Fiche d'évaluation
              </mat-label>
            </div>
            <div class="col-sm-12">
              <a [href]="getEvaluationUrl()" target="_blank">Voir le fichier</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div *ngIf="training.referenceCertificate" class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Attestation de Référence
              </mat-label>
            </div>
            <div class="col-sm-12">
              <a [href]="getReferenceUrl()" target="_blank">Voir le fichier</a>
            </div>
          </div>
        </div>
      </div>
      <div class="m-t-12 text-right">
        <button (click)="handleEdit(training.idTraining)" color="primary" mat-flat-button type="button">Modifier
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
