.custom-input {
  border: 1px solid #ccc; /* Bordure */
  border-radius: 8px; /* Arrondi des coins */
  box-shadow: none; /* Ombre */
  margin: 5px 0; /* Marge externe */
  padding: 18px; /* Rembourrage interne */
  width: 100%; /* Largeur */
  height: 50px; /* Hauteur */
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.custom-input:focus {
  border-color: #fa8e71; /* Change la couleur de la bordure lorsqu'il est activé */
  //box-shadow: 0 0 5px orange; /* Ajoute une légère ombre pour mettre davantage en évidence */
  outline: none; /* Supprime l'outline par défaut (souvent utilisé pour les styles de focus dans les navigateurs) */
  color: #3c3c3c; /* Couleur du texte */
}

.deadline {
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
  padding: 18px;
}
