<!--<h4 class="mat-headline-6 m-y-24">Form with Tabs</h4>-->
<form (ngSubmit)="onSubmit()" *ngIf="editStandardInvoiceForm" [formGroup]="editStandardInvoiceForm">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Date d'émission
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <input (dateChange)="onDateChange($event)" [matDatepicker]="createdAtPicker"
                       formControlName="createdAt" matInput
                       placeholder="Choisir une date" readonly>
<!--                <mat-datepicker-toggle [for]="createdAtPicker" matSuffix></mat-datepicker-toggle>-->
                <mat-datepicker #createdAtPicker></mat-datepicker>
<!--                <mat-error-->
<!--                  *ngIf="editStandardInvoiceForm.get('numberInvoice')?.hasError('required') && editStandardInvoiceForm.get('numberInvoice')?.touched">-->
<!--                  *Ce champ est obligatoire-->
<!--                </mat-error>-->
<!--                <mat-error *ngIf="editStandardInvoiceForm.get('numberInvoice')?.hasError('invalidMonth')">-->
<!--                  *Le mois doit correspondre au mois en cours-->
<!--                </mat-error>-->
<!--                <mat-error *ngIf="editStandardInvoiceForm.get('numberInvoice')?.hasError('invalidFormat')">-->
<!--                  *Le format doit être AAMM-00X-->
<!--                </mat-error>-->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
                Client
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="idClient">
                  <mat-option disabled value="">Choisir un Client</mat-option>
                  <mat-option *ngFor="let client of clients" [value]="client.idClient">{{ client.corporateName }}
                  </mat-option>
                  <mat-option (click)="handleAdd()" class="mat-subtitle-2 f-s-16 f-w-600" value="">
                    Ajouter un nouveau Client
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="editStandardInvoiceForm.get('idClient')?.invalid && editStandardInvoiceForm.get('idClient')?.touched">
                  *Ce champ est obligatoire
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
              >Facture N°
              </mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="numberInvoice" readonly [value]="invoiceNumber" matInput placeholder=""/>
                <mat-error
                  *ngIf="editStandardInvoiceForm.get('numberInvoice')?.hasError('required') && editStandardInvoiceForm.get('numberInvoice')?.touched">
                  *Ce champ est obligatoire
                </mat-error>
                <mat-error *ngIf="editStandardInvoiceForm.get('numberInvoice')?.hasError('invalidMonth')">
                  *Le mois doit correspondre au mois en cours
                </mat-error>
                <mat-error *ngIf="editStandardInvoiceForm.get('numberInvoice')?.hasError('invalidFormat')">
                  *Le format doit être FS-AAMM-00X
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!--        formulaire designation-->
        <div class="col-lg-12">
          <!--     ******************************* Start ***********************-->
          <!--          <table mat-table [dataSource]="groupItem.controls" formArrayName="groupItem" class="w-100">-->

          <!--            <ng-container matColumnDef="name">-->
          <!--              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">-->
          <!--                Désignation-->
          <!--              </th>-->
          <!--              <td mat-cell *matCellDef="let element; let i = index" style="word-wrap: break-word;">-->
          <!--                <mat-form-field appearance="outline" class="w-100" [formGroupName]="i">-->
          <!--                  <input matInput placeholder="" formControlName="name"/>-->
          <!--                  <mat-error *ngIf="editStandardInvoiceForm.get('groupItem.' + i + '.name')?.invalid">-->
          <!--                    *Ce champ est obligatoire-->
          <!--                  </mat-error>-->
          <!--                </mat-form-field>-->
          <!--              </td>-->
          <!--            </ng-container>-->

          <!--            <ng-container matColumnDef="quantity">-->
          <!--              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">-->
          <!--                Quantité-->
          <!--              </th>-->
          <!--              <td mat-cell *matCellDef="let element; let i = index" class="f-s-14">-->
          <!--                <mat-form-field appearance="outline" class="w-100" [formGroupName]="i">-->
          <!--                  <input matInput type="number" formControlName="quantity"/>-->
          <!--                  <mat-error *ngIf="editStandardInvoiceForm.get('groupItem.' + i + '.quantity')?.invalid">-->
          <!--                    *Ce champ est obligatoire-->
          <!--                  </mat-error>-->
          <!--                </mat-form-field>-->
          <!--              </td>-->
          <!--            </ng-container>-->

          <!--            <ng-container matColumnDef="unitPrice">-->
          <!--              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">-->
          <!--                Prix Unitaire-->
          <!--              </th>-->
          <!--              <td mat-cell *matCellDef="let element; let i = index" class="f-s-14">-->
          <!--                <mat-form-field appearance="outline" class="w-100" [formGroupName]="i">-->
          <!--                  <input matInput type="number" formControlName="unitPrice"/>-->
          <!--                  <mat-error *ngIf="editStandardInvoiceForm.get('groupItem.' + i + '.unitPrice')?.invalid">-->
          <!--                    *Ce champ est obligatoire-->
          <!--                  </mat-error>-->
          <!--                </mat-form-field>-->
          <!--              </td>-->
          <!--            </ng-container>-->

          <!--            <ng-container matColumnDef="total">-->
          <!--              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">-->
          <!--                Total-->
          <!--              </th>-->
          <!--              <td mat-cell *matCellDef="let element; let i = index" class="f-s-14">-->
          <!--                <mat-form-field appearance="outline" class="w-100" [formGroupName]="i">-->
          <!--                  <input matInput placeholder="" formControlName="total" readonly/>-->
          <!--                </mat-form-field>-->
          <!--              </td>-->
          <!--            </ng-container>-->

          <!--            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
          <!--            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>-->
          <!--          </table>-->
          <!--          <button type="button" mat-raised-button color="primary" class="m-3" (click)="addGroupItem()">Ajouter</button>-->
          <!--     ******************************* End ***********************-->
          <table class="w-100 table-responsive">
            <thead>
            <tr>
              <th class="f-s-16 f-w-600">Désignation</th>
              <th class="f-s-16 f-w-600">Quantité</th>
              <th class="f-s-16 f-w-600">Prix Unitaire</th>
              <th class="f-s-16 f-w-600">Total</th>
            </tr>
            </thead>
            <tbody formArrayName="products">
            <tr *ngFor="let item of productItem.controls; let i = index" [formGroupName]="i">
              <td class="f-s-14">
                <div appearance="outline" class="w-100">
                  <input class="custom-input" formControlName="name" placeholder=""/>
                  <!--                  <mat-error *ngIf="editStandardInvoiceForm.get('groupItem.' + i + '.name')?.invalid">-->
                  <!--                    *Ce champ est obligatoire-->
                  <!--                  </mat-error>-->
                </div>
              </td>
              <td class="f-s-14">
                <input class="custom-input" formControlName="quantity" type="number"/>
                <!--                <mat-error *ngIf="editStandardInvoiceForm.get('groupItem.' + i + '.quantity')?.invalid">-->
                <!--                  *Ce champ est obligatoire-->
                <!--                </mat-error>-->
              </td>
              <td class="f-s-14">
                <input class="custom-input" formControlName="unitPrice" type="number"/>
                <!--                <mat-error *ngIf="editStandardInvoiceForm.get('groupItem.' + i + '.unitPrice')?.invalid">-->
                <!--                  *Ce champ est obligatoire-->
                <!--                </mat-error>-->
              </td>
              <td class="f-s-14">
                <input class="custom-input" formControlName="total" placeholder="" readonly/>
                <!--                <mat-error>-->
                <!--                </mat-error>-->
              </td>
              <td>
                <button (click)="removeProductItem(i)" color="warn" mat-button type="button">Supprimer</button>
                <!-- Bouton Supprimer -->
              </td>
            </tr>
            </tbody>
          </table>
          <button (click)="addProductItem()" class="m-3" color="primary" mat-raised-button type="button">
            Ajouter une ligne
          </button>
          <!--     ******************************* End ***********************-->
        </div>
        <div *ngIf="deadline" class="col-lg-6">
          <div class="deadline">
            <u><b>Échéance</b></u> : Conformément à nos nos accords, le délai de paiement
            pour cette facture est de <b>{{ deadline }}</b> jours
            à compter de la date d'émission.
          </div>
        </div>
      </div>
      <div class="m-t-12 text-right">
        <button [disabled]="editStandardInvoiceForm.invalid" color="primary" mat-flat-button type="submit">Enregistrer
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
