<form [formGroup]="addClientForm" (ngSubmit)="onSubmit()">
  <mat-card class="cardWithShadow theme-card">
    <!--    <mat-card-header>-->
    <!--      <mat-card-title class="m-b-0">Basic Header Form</mat-card-title>-->
    <!--    </mat-card-header>-->
    <mat-card-content class="b-t-1">
      <div class="p-16 bg-light-primary rounded">
        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
          <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler
          >
          Information de l'Entreprise
        </h5>
      </div>

      <div class="row m-t-20">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Raison Sociale
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="corporateName"/>
            <mat-error
              *ngIf="addClientForm.get('corporateName')?.invalid && addClientForm.get('corporateName')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Adresse
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="address"/>
            <mat-error *ngIf="addClientForm.get('address')?.invalid && addClientForm.get('address')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Téléphone
          </mat-label
          >
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="" formControlName="phoneNumber"/>
              <mat-error *ngIf="addClientForm.get('phoneNumber')?.invalid && addClientForm.get('phoneNumber')?.touched">
                *Ce champ est obligatoire
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Email
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="email"/>
            <mat-error *ngIf="addClientForm.get('email')?.invalid && addClientForm.get('email')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Site Web
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="website"/>
            <mat-error *ngIf="addClientForm.get('website')?.invalid && addClientForm.get('website')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="p-16 bg-light-primary rounded">
        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
          <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler
          >
          Contact Principal
        </h5>
      </div>
      <div class="row m-t-20">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Nom & Prénom(s)
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="nameMainContact"/>
            <mat-error
              *ngIf="addClientForm.get('nameMainContact')?.invalid && addClientForm.get('nameMainContact')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
            Téléphone
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="phoneNumberMainContact"/>
            <mat-error
              *ngIf="addClientForm.get('phoneNumberMainContact')?.invalid && addClientForm.get('phoneNumberMainContact')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Email
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="emailMainContact"/>
            <mat-error
              *ngIf="addClientForm.get('emailMainContact')?.invalid && addClientForm.get('emailMainContact')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Position
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="positionMainContact"/>
            <mat-error
              *ngIf="addClientForm.get('positionMainContact')?.invalid && addClientForm.get('positionMainContact')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="p-16 bg-light-primary rounded m-y-20">
        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
          <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler
          >
          Identification de l'Entreprise
        </h5>
      </div>

      <div class="row m-t-20">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >ICE
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="commonCompanyIdentifier"/>
            <mat-error
              *ngIf="addClientForm.get('commonCompanyIdentifier')?.invalid && addClientForm.get('commonCompanyIdentifier')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >IF
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="taxRegistration"/>
            <mat-error
              *ngIf="addClientForm.get('taxRegistration')?.invalid && addClientForm.get('taxRegistration')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >RC
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="commercialRegister"/>
            <mat-error
              *ngIf="addClientForm.get('commercialRegister')?.invalid && addClientForm.get('commercialRegister')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >TP
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="professionalTax"/>
            <mat-error
              *ngIf="addClientForm.get('professionalTax')?.invalid && addClientForm.get('professionalTax')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >CNSS
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="cnss"/>
            <mat-error *ngIf="addClientForm.get('cnss')?.invalid && addClientForm.get('cnss')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="p-16 bg-light-primary rounded m-y-20">
        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
          <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler
          >
          Informations Générales
        </h5>
      </div>
      <div class="row m-t-20">
        <div class="col-lg-12">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Logo
          </mat-label
          >
          <div appearance="outline" class="w-100">
            <button type="button" mat-flat-button color="primary" class="m-l-16 input-file-button">
              <input type="file" accept="image/png, image/svg+xml, image/jpeg" (change)="onFileChange($event)"
                     #fileInput/>
            </button>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Secteur d'Activité
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="" formControlName="field"/>
            <mat-error *ngIf="addClientForm.get('field')?.invalid && addClientForm.get('field')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Statut
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="status">
              <mat-option value="" disabled>Choisir une option</mat-option>
              <mat-option value="Actif">Actif</mat-option>
              <mat-option value="Inactif">Inactif</mat-option>
            </mat-select>
            <mat-error *ngIf="addClientForm.get('status')?.invalid && addClientForm.get('status')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Échéance
          </mat-label
          >
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choisir une date" formControlName="deadline"
                   min="{{ getDate() }}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="addClientForm.get('deadline')?.invalid && addClientForm.get('deadline')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Plafond
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input type="number" matInput placeholder="" formControlName="limitAmount"/>
            <mat-error *ngIf="addClientForm.get('limitAmount')?.invalid && addClientForm.get('limitAmount')?.touched">
              *Ce champ est obligatoire
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="b-t-1">
      <button mat-flat-button color="primary" [disabled]="addClientForm.invalid">Enregistrer</button>
    </mat-card-actions>
  </mat-card>

</form>
