<mat-card class="b-1 shadow-none">
  <mat-card-header>
    <mat-card-title>Basic</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option class="f-s-14" color="primary"
      >One fish</mat-chip-option
      >
      <mat-chip-option class="f-s-14">Two fish</mat-chip-option>
      <mat-chip-option class="f-s-14" color="accent" selected
      >Accent fish</mat-chip-option
      >
      <mat-chip-option class="f-s-14" color="warn"
      >Warn fish</mat-chip-option
      >
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
